* {
    padding: 5px;
    border: 2px solid black;
}

.page {
    
}

body {
    height: fit-content;
    width: 99%;
    padding: 0px;
}

.displayflex {
    display: flex;
}

.card {
    height: 800px;
}

.textcontent {
    width: fit-content;
    margin-bottom: 10px;
}